<a href="https://colab.research.google.com/github/amelia15/LR_Data_science/blob/master/LR1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Лабораторная работа 1.2**

> *Вознюк Дарина*



# **Очистка данных и моделирование на основе Pandas и Sklearn**

# **Установить через pip необходимые пакеты**

In [ ]:
!pip install psycopg2-binary

# **Подключение к БД PostgreSQL на основе sqlalchemy**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sqlalchemy import create_engine

#Строка подключения - из Heroku
postgres_str='postgres://duunaxkoekmnaa:b4fab8652def5885755587becc051cb077998cf4e2915bd44efe3b178bdf7ac9@ec2-18-203-7-163.eu-west-1.compute.amazonaws.com:5432/datb5nc094nsct'

#Создание курсора для работы с БД
cnx = create_engine(postgres_str)

#Запрос на получение всех таблиц из БД
pd.read_sql_query('SELECT * FROM pg_catalog.pg_tables', cnx)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **ЕСЛИ ДАННЫХ В БД НЕТ, МЫ ИХ ЗАГРУЗИМ ИЗ CSV -файла**

In [ ]:
df = pd.read_csv("/content/drive/My Drive/УІС та СД (ХНЕУ)/googleplaystore.csv")

In [ ]:
df.head()# Заголовок и первые 10 записей

# **Загрузим датафрейм с даныыми в БД в таблицу playstore**

In [ ]:
df.to_sql("playstore", con=cnx)

# **Сделаем запрос на выборку из БД**

In [ ]:
q=pd.read_sql_query('SELECT * FROM playstore;', cnx)

q

# **Посмотрим структуру полей БД средствами Pandas**

In [ ]:
q.columns

## **Рассмотрим гипотезу, что цена приложения зависит от его размера. Для подтверждения этой гипотезы построим регрессионную модель Price от Size**

In [ ]:
print(q.Size, q.Price)

# **Очистка данных в колонке q.Price**

In [110]:
q.Price = [x.replace('$', '') for x in q.Price]

In [68]:
q.Price

0          0
1          0
2          0
3          0
4          0
        ...
5812    0.99
5813       0
5814       0
5815       0
5816       0
Name: Price, Length: 5817, dtype: object

In [111]:
q.Price=q.Price.astype(float)

In [50]:
q.Price

0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
        ...
5812    0.99
5813    0.00
5814    0.00
5815    0.00
5816    0.00
Name: Price, Length: 5817, dtype: float64

# **Очистка данных в колонке q.Size**

In [112]:
q.Size = [x.replace('k', '') for x in q.Size]

In [71]:
q.Size

0                      19M
1                      14M
2                     8.7M
3                      25M
4                     2.8M
               ...
5812                   238
5813                   37M
5814                   52M
5815                  4.4M
5816    Varies with device
Name: Size, Length: 5817, dtype: object

In [114]:
q.Size = [x.replace('M', '000') for x in q.Size]

In [115]:
q.Size

0                    19000
1                    14000
2                   8.7000
3                    25000
4                   2.8000
               ...
5812                   238
5813                 37000
5814                 52000
5815                4.4000
5816    Varies with device
Name: Size, Length: 5817, dtype: object

In [116]:
#q.Size = [x.replace('Varies with device', q.Size.min()) for x in q.Size]
q=q.drop(q[q.Size.isin(['Varies with device'])].index)#Удаляем поля, которые были не пустые, а содержали текст NaN

In [118]:
q.Size = [x.replace('.', '') for x in q.Size]

In [117]:
q.Size

0        19000
1        14000
2       8.7000
3        25000
4       2.8000
         ...
5811     14000
5812       238
5813     37000
5814     52000
5815    4.4000
Name: Size, Length: 4490, dtype: object

In [120]:
q.Size=q.Size.astype(float)

In [ ]:
q.Size

# **Уберем пустые значение в полях Size и Price**

In [ ]:
q[q.Size=='']

In [123]:
q[q.Price=='']

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [index, App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

# **Сделаем преобразование данных (нормализацию)**

In [ ]:
q_s=q #будем использовать датафрейм q_s с нормализованными данными

In [ ]:
q_s.Price=q_s.Price.transform(lambda x: (x / x.max()))

In [ ]:
q_s.Price.max()

In [ ]:
q_s.Size

In [ ]:
q_s.Size=q_s.Size.transform(lambda x: (x / x.max()))

In [ ]:
q_s.Size

In [ ]:
q_s.columns#  Size - 5 поле, Price -8 поле

# **Создаем функцию для построения регрессионной модели на основе sklearn.linear_model**

In [ ]:
import pickle
def model_(data_model):
   
    Y = data_model.iloc[:,[5]] # Rating - 3 поле Size =5
    X=data_model.iloc[:,[8]]#Installs -6 поле Price - 8
    
    filename = 'Model.sav'
    
    model = LinearRegression().fit(X,Y) #Обучение модели
    r_sq = model.score(X,Y) #Оценка качества модели
    print(r_sq)
    print(model.predict(X[0:1]))#Прогнозирование для 1-ого наблюдения
    pickle.dump(model, open(filename, 'wb')) #Сохранение модели на диске
    
    #loaded_model = pickle.load(open(str(filename), 'rb'))#Загрузка модели 
    
    #forecast_score = loaded_model.predict(X[0:1])#Использование загруженной модели

# **Моделируем**

In [ ]:
model_(q)

# **Результаты моделирования (R^2 = 0.0026) показывают осутствие зависимости между Rating и Installs**

In [ ]:
model_(q_s)#Это справедливо и для нормализованных данных

In [ ]:
import matplotlib.pyplot as plt
fig, axes = plt.subplots(ncols=2)
q.pivot_table('index', ['Size'], 'Rating', 'count').plot(ax=axes[0],
title='Size')
q.pivot_table('index', ['Price'], 'Rating', 'count').plot(ax=axes[1],
title='Price')